.container__galery {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    .linea {
        background: black;
    }

    .galeria {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px , 1fr));
        width: 95%;
        margin: auto;
        grid-gap: 25px;
        padding: 40px 0;
        overflow: hidden;
        .img {
            width: 100%;
            vertical-align: top;
            height: 300px;
            object-fit: cover;
        }
    }
}


