.container__galery {
    background-color: black;
    margin: auto;
    height: calc(100vh - 100px);
    width: 100%;
    .galeria {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;

        img {
            width: 500px;
            height: 250px;
        }
    }
    @media screen {
        
    }
}

